# You don't have to specify all credentials if you are not going to run ALL test cases
RINGCENTRAL_SERVER_URL=https://platform.devtest.ringcentral.com
RINGCENTRAL_CLIENT_ID=
RINGCENTRAL_CLIENT_SECRET=
RINGCENTRAL_USERNAME=
RINGCENTRAL_EXTENSION=
RINGCENTRAL_PASSWORD=
RINGCENTRAL_RECEIVER=
RINGCENTRAL_CALLEE=

# to test schedule meeting for others
RINGCENTRAL_USERNAME2=
RINGCENTRAL_EXTENSION2=
RINGCENTRAL_PASSWORD2=
